

<section class="webdesigntuts-workshop">
  <form action="/species/create" method="post">
		<input type="text"  name="name" id="name" placeholder="Which animal do you spot?">
		<button type="submit">Add</button>
	</form>
</section>

<form action="/" method="get">
  <input type="submit" value="Show List of Animal"/>
</form>


<ul class="rolldown-list" id="myList">
  <% @species.each do |x| %>
  <li><%= x.name %></li>
  <% end %>
</ul>
<%# TODO: this does not work. Click this button, the list will animate %>
<button id="btnReload">Reload</button>
